@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TE AMO CON TODA MI ALMA MI VIDA HERMOSA UWU❤️❤️❤️❤️</h1>
    <p>NO SABES CUANTO TE EXTRAÑO MI CORAZÓN 😭😭😭😭😭😭❤️❤️❤️❤️❤️❤️</p>
</div>
